body{
    font-family: 'Lato', sans-serif;
    background-color: #e4e4e4;
    color: #5c5357;
    font-weight: 300;
    overflow-x: hidden;
    user-select: none;
	
	

}
.text-muted{
    color: #8c8888;
}
.text-thin{
    font-weight: 100;
}
.title-super{
    font-size: 60px;
}
.title-logo{
    margin-top: 20px;
}
.hr-height{
    border-top: 3px solid rgba(0, 0, 0, .1);
}
#test{
    position: relative;
    left: -1200px;
    
}
.widget {
    cursor: auto;
    display: inline-block;
    user-select: none;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;
}
.widget:hover{
    cursor: all-scroll;
    display: inline-block;
    user-select: none;
	text-align: center;
}
#head{
    height: 64px;
    width: 100%; 
    background-color: rgb(102,187,65);
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
}
.head{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 64px;
    width: 100%; 
    background-color: rgb(102,187,65);
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
}
#left{
    position: fixed;
    overflow-Y: auto;
    top:75px;
    float: left;
    height: 100%;
}
#user{
    height:50px; 
    width: 50px; 
    margin:7px;
    border: 3px solid #b5bdb4;
    border-radius: 25px;
    background-color: yellowgreen;
    position: absolute;
    right: 0;
    bottom: 0;
}

.tools{
    visibility: hidden;
    
}
.tools1{
    visibility: visible;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 0 0 10px 10px;
    cursor: auto;
    
}
#palette{
    position: fixed;
    height: 100px;
    width: 155px;
    display: none;
    background-color: #e8e8e8;
    border-radius: 10px;
    opacity: 1;
}
.colors{
    height:30px; 
    width: 30px; 
    margin:3px;
    border: 1px solid #746f6f;
    border-radius: 15px;
    position: absolute;
    margin: 10px;
    
    
}
#white{
    background-color: white;
    left: 0;
    
}
#red{
    background-color: rgb(245, 151, 151);
    left: 1.5em;
    
}
#blue{
    background-color: rgb(152, 152, 255);
    left: 3em;
}
#green{
    background-color: rgb(210, 248, 148);
    left: 4.5em;
    
}
#yellow{
    background-color: rgb(253, 253, 0);
    left: 50px;
    top: 50px;
    
}
#pink{
    background-color: pink;
    left: 100px;
    top: 50px;
}
#headText{
    position: absolute;
    width: 200px;
     left: 50px
}
.title{
    border: 0px;
    margin: 0px;
    text-align: left;
    font-size: 20px;
}
.date{
    border: 0px;
    margin: 0px;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}
.date1{
    border: 0px;
    margin: 0px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px;
}
.content{
    border: 0px;
    margin: 10px 0px 0px 0px;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}
input:focus {
    background-color: rgb(148, 248, 210);
}
#footer{
    height: 50px;
    width: 100%; 
    background-color: rgb(102,187,65);
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 1000;
}
